 .bodybg {
     /*background-image:url("../uploads/icons.png");*/
     background-repeat:no-repeat;
     
}

.ok3 {
    background: transparent;
    background-image: url(../uploads/1.png);
    background-repeat:no-repeat;
    background-position: -2px -94px;
    cursor: pointer;
    font-size: 18px;
    width: 250px;
    height: 58px;
    border:   0;
}
